body {
  font-size: 14px;
  font-family: sans-serif;
  color: #000;
  background-color: #1C175C;
  margin:0px;
}
header {
  width: 100%;
  background-color: white;
}
header img {
  height: 118px;
  width: :460px;
}
nav{
  margin-top: 5px;
}
nav ul {
  list-style-type: none;
  width: 100%;
  text-align: center;
  padding: 0;
  padding-top: 10px;
  margin: 0;
  margin-bottom: 25px;
}
nav ul a {
  text-decoration: none;
  width: 25%;
  background-color: #2D1A4F;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 60px;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
}
ul a:hover {
  background-color: white;
  color: #2D1A4F;
}
ul a:hover li {
  background-color: white;
  border-color: #2D1A4F; 
}
nav ul li {
  display: inline-block;
  background-color: #2D1A4F;
  width: 24%;
}
section aside {
  color: white;
  float: left;
  width: 23%;
}
article {
  color: white;
}
.contenedor {
  border-radius: 5px;
  border: 2px solid #fff;
  width: 72%;
  float: right;
  margin-bottom: 60px;
}
.contenedor .productos-lista {
  width: 214px;
  height: 308px;
  border-radius: 5px;
  border: 2px solid #fff;
  float: left;
  margin: 10px 10px 10px 10px;
}
.textos {
  margin-left: 30px;
  margin-bottom: 40px;
  border-radius: 5px;
  border: 2px solid #fff;
  text-align: justify;
  padding: 15px;
}
.textos h1 {
  text-align: center;
  font-size: 18px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #000;
  width: 100%;
}
footer ul {
  width: 100%;
  list-style-type: none;
}
footer ul li {
  display: inline-block;
}
