html {
	height: 100%;
	width: 100%;
}
body {
	font-family: sans-serif;
	font-size: 16px;
	background-color: #1C175C;
	margin: 0px 0px 0px 0px;
/*	background-image: url("img/fondo.jpg"); */
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 100%;	
}
header div a img {
	max-height: 118px; 
}
ul li a {
	color: white;
}
section div {
	padding-left: 20px;
	color: white;
	background-color: #332D76;
	margin-top: 75px;
	margin-left: 40px;
	margin-right: 40px;
	width: 20%;
	border: white 2px solid;
	border-radius: 10px;
	height: 390px;
}
article div {
	padding-left: 20px;
	color: white;
	background-color: #332D76;
	margin-top: 30px;
	margin-left: 40px;
	width: 20%;
	border: white 2px solid;
	border-radius: 10px;
	height: 266px;
}
aside div {
	float: right;
	padding-left: 20px;
	color: white;
	background-color: #332D76;
	margin-top: 0px;
	margin-right: 20px;
	width: 20%;
	border: white 2px solid;
	border-radius: 10px;
	width: 70%;
	height: 690px;
}
aside div h1 {
	margin-top: 8px;
	margin-bottom: 0px;
	font-size: 25px;
	text-align: center;
}
aside div img {
	border-radius: 4px;
	float: left;
	margin: 8px 8px 8px 8px;
}
nav li {
	border: white solid 2px; 
	border-radius: 3px;
	background-color: #2D1A4F;
}
.logo {
	background-color: white;
}
.sin-extras li {
	list-style-type: none;
	font-size: 20px;
}
.sin-extras a:link {
	text-decoration: none;
}
.info {
	width: 100%;
}
.info li {
	color: white;
}
.info li i {
	padding-right: 6px;
}
.posicion_nav {
	float: left;
	padding-right: 120px;
	padding-left: 120px;
}
.posicion_footer {
	float: left;
	padding-left: 40px;
	padding-right: 40px;
}
.footer_bottom {
	margin-top: 40px;
    margin-bottom: 0;
}
.mas_info {
	float: right;
	margin-top: 20px;
}
.dimensiones {
	min-width: 97%;
	min-height: 200px;
}