body {
  font-family: sans-serif;
  color: #000;
  background-color: #1C175C;
  margin:0px;
}
header {
  width: 100%;
  background-color: white;
}
header img {
  height: 118px;
  width: :460px;
}
nav{
  margin-top: 5px;
}
nav ul {
  list-style-type: none;
  width: 100%;
  text-align: center;
  padding: 0;
  padding-top: 10px;
  margin: 0;
  margin-bottom: 25px;
}
nav ul a {
  text-decoration: none;
  width: 25%;
  background-color: #2D1A4F;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 60px;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
}
ul a:hover {
  background-color: white;
  color: #2D1A4F;
}
ul a:hover li {
  background-color: white;
  border-color: #2D1A4F; 
}
nav ul li {
  display: inline-block;
  background-color: #2D1A4F;
  width: 24%;
}
section aside {
  color: white;
  float: left;
  width: 23%;
  margin-top: 10px;
  font-size: 16px;
}
article {
  color: white;
}
article h2{
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
  text-shadow:2px 2px black;
}
article h3{
  text-align: center;
  text-shadow:2px 2px black;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: #0E021F;
  height: 30px;
}
footer ul {
  width: 100%;
  list-style-type: none;
  padding-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}
footer ul li {
  font-size: 20px;
  display: inline-block;
  width: 24%;
  text-align: center;
}
footer ul li i{
  margin-right: 4px;
}
table, td, th {
  border: 1px solid white;
  color: white;
}
table {
  text-align: center;
  margin: 0px auto 0px auto;
}
.activo {
  color: #2D1A4F;
  background-color: white;
  border-color: #2D1A4F; 
}
.activo li {
  background-color: white;
}
.contenedor {
  border-radius: 5px;
  border: 2px solid #fff;
  width: 73%;
  float: right;
  margin-bottom: 60px;
  margin-top: 10px;
  max-height: 700px;
  margin-right: 10px;
}
.contenedor .productos_lista {
  width: 214px;
  height: 308px;
  border-radius: 5px;
  border: 2px solid #fff;
  float: left;
  margin: 10px 10px 10px 10px;
}
.contenedor .productos_lista img {
  width: 100%;
}
.contenedor p {
  padding-left: 10px;
}
.contenedor h5 {
  text-shadow:2px 2px black;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
}
.textos {
  margin-left: 30px;
  margin-bottom: 40px;
  border-radius: 5px;
  border: 2px solid #fff;
  text-align: center;
  padding: 15px;
}
.textos h1 {
  text-align: center;
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-shadow:2px 2px black;
}
.textos ul a{
  text-decoration: none;
  color: white;
}
.textos ul a:hover{
  color: #2D1A4F;
}
.overflow {
  overflow: scroll;
}
.contenedor_form {
  border-radius: 5px;
  border: 2px solid #fff;
  width: 50%;
  margin: 0 auto 0 auto;
  padding: 0px 5px 20px 20px;
}
.enviar_com {
  float: right;
  margin: 10px 10px 10px 10px;
}
.long {
  width: 97%;
}
.resaltar {
  color: #CFB459;
}